/*Fuente de google fonts*/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@200;400&display=swap');

:root {
    --color-principal: #013361;
    --color-secundario: #2a8d3f;
    --color-contrastre: #fff;
    --color-alerta: #00A3D4;
    --color-negro: #000;
    --color-gris: #666666;
    --fuente-uno: 'Poppins', sans-serif;
}

/*Formateamos la pagina*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    font-family: var(--fuente-uno)
}

/*  GENERALES GENERALES GENERALES GENERALES   */
.contenedor{
    max-width: 70%;
    margin: 0px auto 
}

.fila {
    width: 100%;
    display: flex;
    flex-direction: row;
    padding: 15px 0;
    align-items: center;
}

.fila50{
    display: flex;
    height: 50%;
}

.columna {
    flex-basis: 0;
    flex-grow: 1;
    padding: 0 15px;
}

.columna33 {
    flex-basis: 33.33%;
    max-width: 33.33%; 
}

.columna66 {
    flex-basis: 66%;
    max-width: 66%;     
}

.columna50{
    max-width: 50%;
    flex-basis: 50%;
}

.espaciado {
    padding-top: 40px;
    padding-bottom: 40px;
}

.ajustar-ancho {
    width: 100%;
    height: auto;
}

/* ESTILOS COMUNES*/
.titulo-principal {
    color: var(--color-principal);
    text-shadow: 2px 2px 2px var(--color-negro);
    font-size: 4rem;
}

.titulo-principal-contrastre {
    color: var(--color-contrastre);
    text-shadow: 2px 2px 2px var(--color-negro);
    font-size: 4rem;
}

.subtitulo-constrastre {
    color: var(--color-contrastre);
    text-align: center;
    font-size: 1.5rem;
}

.p-principal{
    color: var(--color-negro);
    font-size: 2rem;
}

.p-secundario {
    color: var(--color-gris);
    font-size: 1.5rem;
}

/*  BARRA SUPERIOR */
#barra-superior{
    background-color: var(--color-alerta);
}


#barra-superior .fila{
    padding: 5px 0px;
    justify-content: space-between;
}

#barra-superior a{
    font-size: 14px;
    padding-right: 10px;
    color: white;
    text-decoration: none;
}

#barra-superior .barra-redes-sociales i{
    font-size: 1.5em;
}

/* CABEZERA */
#cabezera{
    background-color: var(--color-principal);
    padding: 20px;
    text-align: center;
    position: sticky;
    top: 0px;
    z-index: 100;
}

.nav-bar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.menu{
    list-style-type: none;
    display: flex;
    flex-direction: row;
}

.menu-link{
    color: var(--color-contrastre);
    font-size: 16px;
    font-family: var(--fuente-uno);
    font-weight: 800;
    margin: 0 5px;
    padding: 6px 8px;
    transition: all 0.4s ease-in-out;
    text-decoration: none;

}

.menu-link:hover{
    border: thin solid var(--color-secundario);  
    background-color: var(--color-secundario);
}

.resaltador{
    border: thin solid var(--color-secundario);  
    background-color: var(--color-secundario);
}

.logo {
    width: 147px;
}

/* VIDEO DE PORTADA */
.comunidad-video{
    position: relative;
}

.ajustar-video {
    aspect-ratio: 16/9;
    width: 100%;
    height: auto;
}

.comunidad-video-titulo {
    color: var(--color-contrastre);
    position: absolute;
    top: 50%; /* bottom */
    left: 50%; /* right */
    text-align: center;
    transform: translate(-50%, -50%);
    z-index: 1;
}

.video-titulo{
    font-family: var(--fuente-uno);
    color: var(--color-contrastre);
    text-shadow: 2px 2px 2px var(--color-negro);
    font-size: 4rem;
}

.video-titulo span{
    color: var(--color-secundario);
}

.video-subtitulo{
    font-family: var(--fuente-uno);
    color: var(--color-contrastre);
    text-shadow: 2px 2px 2px var(--color-negro);
    font-size: 2.5rem;
}

.comunidad-video-titulo p {
    text-shadow: 2px 2px 2px var(--color-negro);
    font-size: 1.5rem;
}

.video-boton {
    display: inline-block;
    background-color: #25D366; 
    color: var(--color-contrastre); 
    margin-top: 25px;
    padding: 10px 20px; 
    border-radius: 5px; 
    text-decoration: none; 
    font-size: 16px;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.video-boton a {
    color: inherit; /* Heredar color del texto del contenedor */
    text-decoration: none;
}

.video-boton i {
    margin-right: 8px; 
}

.video-boton:hover {
    background-color: var(--color-secundario); 
}


.comunidad-video::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(9, 191, 45, 0.2); /* Fondo negro con transparencia (ajusta el valor alpha según necesites) */
    z-index: 0; /* Añadido para que el fondo esté detrás del video y del texto */
}

/* NOSOTROS */

.nosotros-collage {
    height: 450px;
    display: flex;
}

.nosotros-img-0 {
    height: 100%;
    padding: 0 5px ;
    margin: 0;
}

.nosotros-img-1 {
    padding-bottom: 5px ;
}

/* PROPUESTA */

#propuesta .contenedor {
    background-color: var(--color-principal);
    justify-content: center;
}

.propuesta-titulo {
    padding: 50px;
    text-align: center;
}

#propuesta p {
    color: var(--color-contrastre);
    font-size: 1.5rem;
    text-align: center;
}

.propuesta-imgs img {
     padding: 2.5px 5px;
}

.propuesta-img {
    position: relative;
    overflow: hidden;
    border: 5px var(--color-btn) solid;
}


#propuesta .propuesta-efecto img {
    transition: all 0.5s ease-in-out;
}

#propuesta .propuesta-efecto:hover img {
    transform: scale(130%);
    filter: blur(4px);
}

.propuesta-leyenda {
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: #07beb842;
    width: 100%;
    height: 100%;
    color: var(--color-secundario);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    transition: all 0.5s ease-in-out;
    opacity: 0;
    font-size: 20px;
    text-shadow: 2px 2px 0px var(--color-negro);
}

#propuesta .propuesta-efecto:hover .propuesta-leyenda {
    opacity: 1;
}

#propuesta .propuesta-efecto p {
    transition: all 1s ease-in-out;
    transform: translate(0px,600px);
}

#propuesta .propuesta-efecto:hover p {
    transform: translate(0px,0px);
}

/* CONTACTO */
#contacto {

}

.contacto-datos {
    background-color: var(--color-principal);
}

.form-master {
    display: flex;
    border: thin solid red;
}

.campo-entrada {
    
    width: 100%;
    padding: 5px;
    margin-bottom: 20px;
    border: none;
    outline: none;
    border-bottom: rgba(95, 92, 189, 0.2) 1px solid;
    font: inherit;
}

