@media screen and (max-width:400px) {
    .contenedor{
        max-width: 90%;
    }

    /* VIDEO DE PORTADA*/
    .video-titulo {
        font-size: 2rem;
    }

    .video-subtitulo {
        font-size: 1.3rem;
    }

    .comunidad-video-titulo p  {
        font-size: 0.9rem;
    }

}